@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
  margin: 0;
}

body {
  background-color: #738678;
  font-family: 'Varela Round', sans-serif;
  font-size: 20pt;
  margin: 0 20px;
}

div.container {
  margin: 0 auto;
  width: 75%;
}

a {
  color: #fff;
}

p {
  padding: 10px;
}

header > div.hero {
  font-size: 30px;
  display: inline-block;
}

header, footer {
  margin: 20px 0;
  padding: 20px 0;
}

header > div.hero, div.info, ul.contact {
  color: #fff;
}

header > img.profile {
  border-radius: 50%;
  display: block;
  float: right;
  height: 6em;
  width: 6em;
}

footer > ul.contact {
  list-style: none;
  width: 100%;
  padding: 0;
  font-size: 50pt;
}

footer > ul.contact > li {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  header > img.profile {
    display: none;
  }
}


@media screen and (max-width: 1200px) {
  div.container {
    width: 100%;
  }
